# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
ENV/
env/

# Logs
*.log

# Config and local data
config.json
downloads/
*.db

# IDE / Editor
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
